.container{
    padding: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 500px;
    margin: auto;
    padding: 100px 50px 100px 50px;
    background-color:orange;
    border-radius: 10px;
    
}

input{
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

button{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

p {
    color: white;
      
}

.card a{
    text-decoration: none; 
    text-align: center; 
}